# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------
*.avi
Mak*
*.moc
*.o
*.obj
*.log
*.Debug
*.Release
moc_*
*.pro.user
build/
vm_build/
font/
images/productImage/
*jpg


